h1 {
    font-family: Georgia;
    margin-left : 110px;
    color: rgb(58, 58, 211);
    size:40px;
}

img {
    margin-left: 80px;
    margin-bottom: 20px;
}

label {
    font-family: Georgia;
    size: 30px;
    color:rgb(49, 178, 49);
}