<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Kantor internetowy</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1><strong>KANTOR</strong></h1>
        <img src="https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_1280.jpg" alt="Zdjęcie monet" title="Monety" width="1400" height="400">
        <form action="/exchange" method="post">
            <div>
                <label for="code"><strong>WALUTA</strong></label>
            </div>
            <div>
                <select name="code" id="code">
                    <ul>
                       {% for code in rates %}
                       <option value="code">{{code}}/option>
                       {% endfor %}
                    </ul>
                    
                </select>
            </div>
            <div>
                <label for="amount"><strong>ILOŚĆ</strong></label>
                <input class="amount" type="number" id="amount" name="amount"/> 
            </div>
            <div>
                <button class="button" type="submit">Przelicz</button>
            </div>
            <div>
                <label for="result"><strong>WYNIK</strong></label>
                <textarea cols="5" rows="1" class="result" type="text" id="result" name="result" value="{{result}}"></textarea>
            </div>
        </form>
        
    </body>
</html>